<h3>Settings: Income &amp; Expenses</h3>

<dialog id="modal-newincomeexpense">
    <article>
        <h3>Add new recurring payment</h3>
        <p>Positive values represent a recurring income, negative amounts represent expenses.</p>

        <form>
            <input type="hidden" name="id" value="{{ .ID }}" required>
            <label for="label">
                Label
                <input type="text" name="label">
            </label> 
            <div class="grid">
                <label for="day">
                    Day
                    <input type="number" name="day" min="1" max="31" required>
                </label>

                <label for="amount">
                    Amount
                    <input type="number" name="amount" step=".01" required>
                </label>
            </div>

            <button 
                type="submit"
                hx-post="/incomeexpensesCreate"
                hx-target="#newincomeexpense-status"
                >
                Submit</button>
        </form>

        <footer>
            <a href="#cancel" 
                role="button" 
                data-target="modal-newincomeexpense"
                onClick="toggleModal(event)"
                class="secondary">
                Cancel
            </a>
            <p id="newincomeexpense-status">

            </p>
        </footer>
    </article>
</dialog>

<button 
    class="outline"
    data-target="modal-newincomeexpense"
    onClick="toggleModal(event)">
    Add New
</button>
<div class="settings-data-incomeexpenses" 
    hx-get="/settings/data/incomeexpenses?id={{ .ID }}"
    hx-trigger="load">
</div>
