<h3>Settings: Income &amp; Expenses</h3>
<div class="settings-tab-incomeexpenses">
    {{ range . }}
    <form>
        <table>

            <thead>
                <tr>
                    <th scope="col"><b>Enabled</b></th>
                    <th scope="col"><b>Label</b></th>
                    <th scope="col"><b>Day of Payment</b></th>
                    <th scope="col"><b>Amount</b></th>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <input type="hidden" name="id" value="{{ .ID }}" required>
                    <td>
                        <input type="checkbox" name="enabled" {{ if .Enabled }} checked {{end}}>
                    </td>

                    <td>
                        <input type="text" name="label" value="{{ .Label }}" required>
                    </td>

                    <td>
                        <input type="number" name="day" min="1" max="31" value="{{ .Day }}" required>
                    </td>

                    <td>
                        <input type="number" name="amount" step=".01" value="{{ .Amount }}" required>
                    </td>
                    <td>
                        <button hx-post="/incomeexpensesUpdate" hx-target="#status_{{ .ID }}">Save</button>
                    </td>
                    <td id="status_{{ .ID }}">
                        OK?
                    </td>
                </tr>
            </tbody>
        </table>
        <!-- <button type="submit">Save</button> -->
    </form>
    {{end}}
</div>
