{{define "body"}}
<header class="container">
    <small>{{ .Budget.StartDate }} - {{ .Budget.EndDate }}</small>
    <div id="dashboard-summary" class="grid">
        <div>
            <h3>Balance: {{ .BudgetRemaining }} {{ .Budget.Currency }}</h3>
            <small><em>Buffer: {{ .BufferRemaining }} {{ .Budget.Currency }}</em></small>
        </div>
        <div>
            <strong>{{ .PercentageSpent }}% spent</strong>
            <progress value="{{ .PercentageSpent }}" max="100"></progress>
        </div>
    </div>
</header>

<div id="dashboard-content" class="container">
    <h2>Transaction Log</h2>
    <!-- DROP-DOWN FILTER LIST -->
    <details role="list">
        <summary aria-haspopup="listbox">Filter categories</summary>
        <ul role="listbox">
            <li>
                <button>Show all</button>
            </li>
            {{range .Budget.BudgetCategories }}
            <li>
                <label>
                    <input type="checkbox" checked>{{ .Category.Name }}
                </label>
            </li>
            {{end}}
        </ul>
    </details>

    <!-- LIST OF PAYMENTS -->
    <div id="list-payments" hx-get="/payments?id={{ .Budget.ID }}" hx-trigger="load">

    </div>
</div>
{{end}}
