{{define "body"}}
    <div class="container">
        <h3>Create a new budget</h3>
        <form action="/newBudgetSave" method="POST">

            <!-- DATE INPUTS -->
            <div class="grid">
                <label for="start_date">
                    Start date
                    <input type="date" name="start_date">
                </label>

                <label for="end_date">
                    End date
                    <input type="date" name="end_date">
                </label>
            </div>

            <!-- TOTAL MONEY ALLOCATED -->
            <label for="allocated">
                <!-- TODO: Should be preloaded from recurring costs and income -->
                Total money allocated
                <input type="number" name="allocated" step=".01">
            </label>

            <!-- CATEGORIES TO INCLUDE -->
            <h3>Allocate money per category</h3>
            <table>
                <thead>
                    <tr>
                        <th scope="col"><b>Name</b></th>
                        <th scope="col"><b>Allocated Amount</b></th>
                    </tr>
                </thead>
                <tbody>
                    {{ range .Categories }}
                    <tr>
                        <th scope="row">{{ .Name }}</th>
                        <td>
                            <input type="number" name="bc_allocated_{{ .ID }}">
                        </td>
                    </tr>
                    {{end}}
                </tbody>
            </table>

            <button type="submit">Confirm</button>
        </form>
    </div>
{{end}}
