{{define "base"}}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title>{{ .PageTitle }} | {{ .AppTitle }}</title>
        <meta name="description" content="HTML Boilerplate"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <style>
            body {
                max-width: 60rem;
                margin: auto;
                padding: 2rem 0;
                line-height: 1.4rem;
                color: #4c4c4c;
                background-color: #f2f2f2;
            }
            a:link {
                color: #5588a0;
            }

            a:visited {
                color: #6c6499;
            }

            nav {
                border-bottom: 2px solid black;
            }
        </style>
    </head>
    <nav>
        <a href="/">Home</a>
        <a href="/login">Sign in</a>
        <a href="/register">Register</a>
        <a href="/dashboard">Dashboard</a>
        <a href="/payments?id=1">See payments for budget 1</a>
    </nav>

    <body>{{template "body" .}}</body>
</html>
{{end}}
